.container-block {
    margin-left: 17%;
    width: 100%;
    height: 100%;
    .personal-display {
        width: 100%;
        height: 70px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        img {
            margin-right: 10px;
        }
        div {
            margin-right: 10px;
        }
    }
    .content {
        margin-left: 1.5%;
        padding: 20px;
        span {
            border-bottom: 3px solid #3f8cff;
            font-weight: bold;
            font-size: 25px;
        }
        .action {
            margin-top: 15px;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            .search {
                overflow: hidden;
                display: flex;
                align-items: center;
                width: 50%;
                height: 40px;
                background-color: white;
                border-radius: 5px;
                img {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                input {
                    outline: none;
                    width: 100%;
                }
            }
            button {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 20px;
                margin-right: 20px;
                color: white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
        }
        .sort {
            margin-top: 15px;
            padding-left: 20px;
            background-color: white;
            width: 100%;
            height: 80px;
            float: left;
            border-radius: 5px;
            tr {
                th {
                    padding-top: 10px;
                    font-size: 12px;
                    font-weight: bold;
                    width: 100px;
                    text-align: left;
                }
            }
            tr {
                margin-top: 10px;
                td {
                    select,
                    input,
                    div {
                        font-size: 12px;
                        margin-bottom: 10px;
                        padding-left: 5px;
                        width: 75%;
                        height: 30px;
                        border: 1px solid #dddee4;
                        border-radius: 5px;
                        color: #8f8c8b;
                        display: flex;
                        align-items: center;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
