.header-block {
    width: 17%;
    position: fixed;
    margin: 20px;
    margin-top: 1px;
    margin-right: 1px;
    height: 1080px;
    background-color: white;

    .logo {
        margin: 30px;
        img.logo-img {
            width: 85%;
            margin-right: 8px;
        }
    }
    .button-function {
        margin: 30px;
        margin-top: 30px;
        button.big-button {
            padding: 10px;
            padding-left: 15px;
            font-size: 13px;
            font-weight: bold;
            color: #4585d6;
            background-color: #eeeeee;
            margin-bottom: 10px;
            width: 100%;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: none;
            span {
                font-size: 8px;
                color: #aaaaaa;
            }
            img {
                margin-right: 10px;
            }
        }
        .small-button {
            background-color: white;
            padding-left: 15px;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 10px;
            width: 100%;
            height: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: none;
            img {
                margin-right: 10px;
            }
        }
    }
}
