div.show-data {
    overflow: scroll;
    position: relative;
    height: 500px;
    width: 100%;
    background-color:white;
    table.data {
        margin-top: 8px;
        padding-left: 8px;
        margin-bottom:10px;
        width: 100%;
        background-color: white;
        tr {
            color: #3f8cff;
            font-size: 12px;
            font-weight: bold;
            width: 100%;
            height: 50px;
            float: left;
            border-radius: 5px;
            background-color: #fafafc;
            display: flex;
            justify-content: left;
            align-items: center;
            th {
                margin-left: 5%;
                font-size: 12px;
                font-weight: bold;
                text-align: left;
            }
        }
    }
    table.show-data-list {
        width: 100%;
        /* height: 100%; */
        border-radius: 5px;
        margin-right: 3px;
        tr.cong-ty {
            margin-left: 0.8%;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 12px;
            width: 99%;
            height: 30px;
            border-radius: 5px;
            background-color: #fdfafa;
            display: flex;
            align-items: center;
            th {
                font-size: 12px;
                text-align: left;
                margin-left: 2%;
            }
        }
        tr.cong-ty-detail {
            margin-top: 10px;
            margin-left: 3%;
            font-size: 12px;
            width: 100%;
            height: 50px;
            border-radius: 5px;
            display: flex;
            justify-content: left;
            align-items: center;
            td {
                padding-right: 5%;
                font-size: 12px;
                text-align: left;
                background-color: white;
            }
        }
    }
}
