* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.App {
    width: 100%;
    background-color: rgb(246, 247, 248);
    font-family: "Nanum Gothic", sans-serif;
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 992px) {
    .App {
        width: 75%;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .App {
        width: 50%;
    }
}

